html {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #ffc600;
}

body {
    padding: 0;
    margin: 0;
    
}

.game {
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.racket {
    width: 100px;
    height: 10px;
    background-color: white;
    display: flex;
    border:1px solid red;
    position:absolute;
}

.ball {
    width:10px;
    height:10px;
    background-color: red;
}

.countdown {
    position: absolute;
    top: 200px;
    left:50%;
    transform: translateX(-50%);
    
    font-size: 20px;
    color: #000000;
    /*display:none;*/
    border: 1px solid green;
}
.register
{
    position: absolute; 
    padding:20px;
    width:300px;
    height:200px;
    left:50%;
    top:100px;
    transform: translateX(-50%); 
    background-color: #ffffff;
    z-index: 10;
}
.finish {
    display:none;
}